/* Style Import for Image Gallery */
@import "~react-image-gallery/styles/css/image-gallery.css";

/* ========= NAVBAR STYLING ========== */

.App nav {
  top: 0px;
  left: 0px;
  max-height: 100px;
  background-color: rgb(244, 244, 244);
}

.App nav ul {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
}

.App nav ul a {
  color: rgba(207, 78, 78, 0.719);
  text-decoration: none;
  padding: 1em 2em;
  text-align: justify;
  display: inline-block;
  font-size: 1.66em;
  font-family: massilia, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.foodies {
  font-size: 18px;
  font-family: "Caflisch Script Pro";
  color: rgba(207, 78, 78, 0.85);
  line-height: 1.2;
  -moz-transform: matrix(5.09496618449703, 0, 0, 5.09496618449703, 0, 0);
  -webkit-transform: matrix(5.09496618449703, 0, 0, 5.09496618449703, 0, 0);
  -ms-transform: matrix(5.09496618449703, 0, 0, 5.09496618449703, 0, 0);
  position: absolute;
  left: 145px;
  top: 35px;
  z-index: 2;
}

/* ========= CRAWL STYLING ========== */
#crawl {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 30px;
}


.restaurant-post {
  font-family: massilia, sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 0.5px solid rgb(234, 234, 234);
  border-radius: 4px;
  padding: 1px;
  margin: 10px;
  box-shadow: 2px 2px 2px rgb(212, 212, 212);
  width: 560px;
}

#restaurant-name {
  margin-left: 10px;
}

#restaurant-location {
  margin-left: 5px;
}


#comments-section {
  font-family: massilia, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1em;
}

.interactive-buttons {
  background-color: transparent;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 15px;
  height: 30px;
  margin: 3px;
}

/* #post-comments{
  display: block;
  padding: 15px 0 3px;
} */


li#post-comments {
  max-width: 500px;
}

input.add-a-comment {
  font-family: massilia, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  border: none;
  outline: none;
  margin: 0.5em;
  display: flex;
  width: 536px;
}

button.add-a-comment {
  font-family: massilia, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #337ab7;
  background-color: white;
  border: none;
  height: 20px;
  display: flex;
  border-radius: 3px;
  margin: 0.25em;
  cursor: pointer;
}

/* ========= MAP STYLING ========== */

#map {
  height: 500px;
  float: left;
  width: 48%
}

.leaflet-container {
  height: 50vw;
  width: 50vw;
}

#searchZipCode {
  width: 200px;
}

#nearbyRestaurantList {
  height: 100%;
  margin-left: 2%;
  width: 30%;
  float: left;
}

.restaurantResultContainer {
  border: 1px solid rgb(234, 234, 234);
  border-radius: 4px;
  margin: 10px;
  box-shadow: 2px 2px 2px rgb(212, 212, 212);
}

.restaurantResultContainer>* {
  padding-left: 5%;
}

.restaurantResultContainer span {
  font-weight: 600;
}