/* ========= NAVBAR STYLING ========== */

.App nav {
  /* background-color: rgb(8, 35, 61); */
  top: 0px;
  left: 0px;
  max-height: 100px;
}

.App nav ul {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
}

.App nav ul a {
  color: rgba(207, 78, 78, 0.719);
  text-decoration: none;
  padding: 1em 2em;
  text-align: justify;
  display: inline-block;
  font-size: 1.66em;
  font-family: massilia, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/* ========= CRAWL STYLING ========== */
.restaurant-post {
  font-family: massilia,sans-serif;
  font-weight: 400;
  font-style: normal;
}

#crawl {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 30px;
}
/* ========= MAP STYLING ========== */

#map {
  height: 500px;
}

.leaflet-container {
  height: 50vw;
  width: 50vw;
}