/* ========= NAVBAR STYLING ========== */

.App nav {
  /* background-color: rgb(8, 35, 61); */
  top: 0px;
  left: 0px;
  max-height: 100px;
}

.App nav ul {
  margin: 0;
  padding: 0;
  height: 5em;
}

.App nav ul a {
  color: rgba(207, 78, 78, 0.719);
  text-decoration: none;
  padding: 1em 2em;
  text-align: justify;
  display: inline-block;
  font-size: 1.66em;
  font-family: 'Verdana';
  font-weight: bold;
  margin: 0;
}

#map {
  height: 500px;
}

.leaflet-container {
  height: 50vw;
  width: 50vw;
}